<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login & Signup</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <nav class="w-full flex px-5 py-3 justify-between">
    <h3 class="text-xl">Scatch</h3>
    <% var loggedin = typeof loggedin !== "undefined" ? loggedin : true %> 
    <%if(loggedin) {%>

    <div class="flex gap-5 px-5 py-3">
      <a href="/shop">Shop</a>
      <a href="/cart">Cart</a>
      <a href="/account">My Account</a>
      <a href="/user/logout" class="bg-red-500 text-white rounded px-1"
        >Logout</a>
    </div>
    <% } %>
  </nav>
</html>
