<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project || Node</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="m-20" >
        <form autocomplete="off" action="/upload" method="post" enctype="multipart/form-data" >
            <input type="file" placeholder="Title" name="image" class="border p-2" >
            <input type="submit" value="Upload File" class="bg-blue-400 text-white py-2 px-5 rounded" >
        </form>
    </div>
</body>
</html>